/* código omitido */

.lista-menu_titulo, 
.lista-menu_item {
    padding: 1em,
    background-color: var(-laranja);

}/* código omitido */

/* código omitido */

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}/* código omitido */

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* código omitido */